@font-face {
  font-family: 'geosanslight-nmsregular';
  src: url('../fonts/geonms-webfont.eot');
  src: url('../fonts/geonms-webfont-iefix.eot') format('embedded-opentype'), url('../fonts/geonms-webfont.woff') format('woff'), url('../fonts/geonms-webfont.ttf') format('truetype'), url('../fonts/geonms-webfont.svg#geosanslight-nmsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);