body {
  margin: 0;
}
main {
  max-width: 72em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
}
.column {
  max-width: 30em;
}
div.input {
  display: flex;
}
div.input input {
  flex-grow: 1;
}
textarea {
  max-width: 30em;
  width: 30em;
}
.help {
  font-size: 0.75em;
}
.help p {
  margin: 0.25em 0;
}
.help .help-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
.help:hover .help-list,
.help:active .help-list {
  max-height: 50vh;
}
button {
  background-color: #01385b;
  color: #fff;
  border: 0;
  padding: 4px;
}
.input button,
.input input {
  margin: 2px;
}