h1,
h2,
h3,
h4,
header,
nav {
  font-family: geosanslight-nmsregular, 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
}
h4 {
  margin: 5px 0;
}
body,
.info-card,
.search-area input {
  font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}
header {
  background-color: #01385b;
  max-height: 70px;
}
header .title {
  line-height: 50px;
  font-size: 50px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
header .button-container {
  position: absolute;
  height: 70px;
  right: 0;
  top: 0;
  transition: right 0.3s ease-out;
}
header button {
  padding: 0;
  transition: background-color 0.2s ease-out;
  border: none;
  background-color: transparent;
  background-image: none;
  width: 70px;
  height: 70px;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  margin-left: -4px;
  cursor: pointer;
}
header button:hover {
  background-color: rgba(255, 255, 255, .2);
}
header button img {
  width: 40px;
  height: 40px;
  padding: 15px;
}
nav {
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .3);
  text-align: center;
  background-color: #01385b;
  z-index: 1;
}
nav.floating {
  position: fixed;
  top: 0;
}
nav .search-container {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav li {
  display: inline-block;
  /* Workaround a small inline-block bug/feature */
  margin-left: -4px;
}
nav li:hover {
  background-color: rgba(255, 255, 255, .2);
}
nav li span {
  display: inline-block;
  padding: 19px 10px;
  color: #fff !important;
}
main {
  margin: 0 auto;
  top: 0;
  max-width: 53em;
  padding-top: 60px;
}
.page-container {
  position: relative;
  right: 0;
  transition: right 0.5s;
}
.page-container.cat {
  right: calc(100vw - (50vw - (53em / 2)));
}
.page-container.search {
  right: calc((100vw - (50vw - (53em / 2))) * 2);
}
.page-container > div {
  margin: 0 5px;
  position: absolute;
  width: calc(100% - 10px);
  max-width: 53em;
}
.page-cat {
  left: calc(100vw - (50vw - (53em / 2)));
}
.page-search {
  left: calc((100vw - (50vw - (53em / 2))) * 2);
}
.info-list .info-card,
.cat-list .category-card,
.search-area {
  margin-bottom: 10px;
}
.info-card,
.category-card,
.search-area {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background: #fff;
  border-radius: 2px;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.info-card .header {
  position: relative;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  overflow: hidden;
}
.info-card .header .header-bg {
  background-color: #01385b;
  width: 100%;
  pointer-events: none;
  height: 60px;
  transition: height 0.5s, background-color 0.5s;
}
.info-card.spoiler .header .header-bg {
  background-color: #e22;
}
.info-card.expanded .header .header-bg {
  height: 100px;
}
.info-card .header .card-title,
.category-card .card-title {
  margin: 16px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.info-card.dark-text .header .card-title,
.category-card.dark-text .card-title {
  color: #000;
}
.category-card.dark-text.spoiler .card-title {
  color: #fff;
}
.info-card .header .card-title {
  position: absolute;
  bottom: 0;
  transition: color 0.5s, margin 0.5s;
}
.info-card.expanded .header .card-title {
  margin: 24px 16px;
}
.info-card .categories {
  padding: 5px 16px;
  position: absolute;
  top: -32px;
  opacity: 0;
  transition: top 0.5s, opacity 0.5s;
}
.info-card.expanded .categories {
  opacity: 1;
  top: 0;
}
.info-card .categories li {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
.info-card.dark-text .categories li {
  color: #000;
}
.info-card.dark-text.spoiler .categories li {
  color: #fff;
}
.info-card .categories li:hover {
  text-decoration: none;
}
.info-card .card-content {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.5s, padding 0.5s;
}
.info-card.expanded .card-content {
  padding: 16px 0;
  /* Just has to be a big value, but not too big */
  max-height: 1000px;
}
.info-card .card-content div:not(.separator) {
  padding: 0 16px;
}
.separator {
  border-bottom: 2px solid #aaa;
}
.sources ul,
.related ul,
.categories ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sources ul li,
.related ul li,
.categories ul li {
  display: inline-block;
  padding-right: 4px;
}
.search-area {
  padding: 16px;
  display: flex;
  background-color: #01385b;
}
.search-area input {
  margin: 5px;
  padding: 5px;
  font-size: 1.1em;
  background-color: #fff;
  color: #000;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.search-area .search-box {
  flex: 1;
  box-shadow: none;
  transition: box-shadow 0.5s, opacity 0.5s;
}
.search-area .search-box:focus::-webkit-input-placeholder {
  opacity: 0;
}
.search-area .search-box:focus::-moz-placeholder {
  opacity: 0;
}
.search-area .search-box:focus::-ms-input-placeholder {
  opacity: 0;
}
.search-area .search-box:focus {
  outline: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
@media all and (min-width: 920px) {
  .card-half {
    display: inline-block;
    width: calc(50% - 10px);
    padding: 0 5px;
    vertical-align: top;
  }
}